.countdown {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.countdown-element {
  margin: 0 15px;
  text-align: center;
}

.countdown-element span {
  font-size: 2em;
  display: block;
}

.countdown-element small {
  display: block;
  margin-top: 5px;
}
